bgimg      	= 	"/static/images/bg.png"
fontColor  	= 	#e3e5f9
fontColor1  = 	#4e94c4
fontFamily 	=	'Microsoft YaHei'
fcfff    	= 	#fff
fontSize   	= 	.35rem
fcBg 		=	rgba(143,194,233,.2)
fcBgB 		=	rgba(9,25,51,.5)
fcBgH 		=	#69c089
fcBgA 		=	#2e9453
mainColor  	= 	blue
nav1 		=	"/static/images/nav1.png"
nav1H 		=	"/static/images/nav1H.png"
nav1A 		=	"/static/images/nav1A.png"
nav2 		=	"/static/images/nav2.png"
nav2H 		=	"/static/images/nav2H.png"
nav2A 		=	"/static/images/nav2A.png"
nav3 		=	"/static/images/nav3.png"
nav3H 		=	"/static/images/nav3H.png"
nav3A 		=	"/static/images/nav3A.png"



